body {
    overflow-x: hidden;
}

.lg-ad {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    text-align: center;
}

.lg-ad a {
    color: #fff;
    text-decoration: none;
    display: block;
    position: relative;
    margin: 0 auto;
}

.lg-ad a:hover {
    text-decoration: none;
}

.lg-ad .btn {
    display: block;
    color: #fff;
    font-size: 2rem;
    margin: 0 0 0 auto;
    opacity: 0;
}

.lg-ad h2,
.lg-ad p {
    color: #fff;
    margin: 0 auto;
}

.lg-ad iframe {
    border: none;
}

.lg-ad iframe,
.lg-ad embed,
.lg-ad object,
.lg-ad video {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 0;
}

.ad-list {
    margin: 2rem 0 0;
}

.ad {
    padding: 1rem 1rem 1rem 0;
    border-bottom: 1px solid #4a4a4a;
}

/* .lg-ad
iframe,
embed,
object,
video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
} */