* {
    box-sizing: border-box;
    font-family: sans-serif, Microsoft JhengHei;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(10, 25, 23);
}

nav {
    height: 50px;
}

.but a {
    display: block;
    padding: 10px;
    line-height: 30px;
    color: rgb(255, 255, 255);
}

.but a,
.but a:visited,
.but a:hover,
.but a:active {
    font-weight: 600;
    text-decoration: none;
}

.but a:hover {
    color: rgb(231, 172, 62);
}

header {
    display: block;
    background-image: url("../images/benjamin-davies-361151.jpg");
    max-width: 100%;
    height: 100vh;
    padding-top: 25vh;
}

.image img {
    max-width: 100%;
    border: 3px solid snow;
    border-radius: 50%;
}

.image h2 {
    color: white;
    text-align: center;
    margin: 15px;
    text-shadow: 1px 1px 10px black;
}

#about {
    color: white;
    text-align: center;
    line-height: 1.5;
}

#about li {
    list-style-type: none;
}


/*=============================================
=                top按鈕設定開始                =
=============================================*/

.top {
    display: block;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(158, 149, 149);
    border-radius: 50%;
    position: fixed;
    top: 87%;
    right: 3%;
}

.top a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
}

.top a:hover:after {
    content: 'TOP';
    color: white;
    letter-spacing: 1px;
    font-weight: 650;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 10px black;
    border-radius: 50%;
    background-color: rgb(158, 149, 149);
    position: fixed;
    top: 87%;
    right: 3%;
}


/*=====  End of     top按鈕設定結束      ======*/

section {
    padding: 3%;
}


/* header img {
    max-width: 100%;
} */

.box {
    padding: 10px;
}

.box img {
    max-width: 100%;
    border-radius: 50%;
}

.box ul {
    list-style-type: none;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid gray;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    margin: 30px;
}


/*=============================================
=               timeline設定開始                =
=============================================*/

.timeline {
    display: block;
    width: 80%;
    position: relative;
    padding: 15px;
    margin: 0 auto;
}


/* 時間軸 */

.timeline::after {
    content: '';
    display: block;
    width: 3px;
    height: 95%;
    background-color: rgb(158, 149, 149);
    position: absolute;
    top: 2.5%;
    left: 50%;
}


/* 時間區塊 */

.timeline-container {
    position: relative;
    width: 50%;
    height: 25%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}


/* 時間點 */

.timeline-container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 25px;
    background-color: rgb(231, 172, 62);
    border-radius: 50%;
}


/* 線條 */

.left {
    left: -5%;
}

.right {
    left: 55%;
}

.left::before {
    content: " ";
    position: absolute;
    height: 0;
    width: 10%;
    z-index: 1;
    top: 30px;
    right: -10%;
    border: 2px solid white;
}

.right::before {
    content: " ";
    position: absolute;
    height: 0;
    width: 10%;
    z-index: 1;
    top: 30px;
    right: 100%;
    border: 2px solid white;
}


/* 時間點位子 */

.right::after {
    left: calc(-10% - 6px);
    z-index: 1;
}

.left::after {
    right: calc(-10% - 9px);
    z-index: 1;
}


/*=====  End of    timeline設定結束      ======*/


/*=============================================
=                 card設定開始                 =
=============================================*/

.card {
    width: 240px;
    height: 180px;
    position: relative;
    margin: 7px;
}

.card img {
    display: block;
}


/* 灰色漸變 */

.card a:hover:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(24, 24, 24);
    opacity: 0.6;
    position: absolute;
    transition: opacity 1.5s;
    top: 0;
}

.card a:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(24, 24, 24);
    opacity: 0;
    position: absolute;
    transition: opacity 1.5s;
    top: 0;
}


/*=====  End of      card設定開始       ======*/

footer {
    border-top: 1px solid gray;
    padding: 30px 30px 40px 30px;
}

footer a {
    font-size: 30px;
    text-decoration: none;
    margin: 10px;
    color: rgb(158, 149, 149);
}

footer a:hover {
    color: rgb(231, 172, 62);
}

footer a:active {
    color: rgb(173, 133, 58);
}

footer p {
    color: rgb(158, 149, 149);
    font-size: 10px;
    margin: 15px;
}