body {
    overflow-x: hidden;
}

section {
    padding-top: 83px;
}

.position-relative {
    position: relative;
}

.about {
    // position: absolute;
    // top: 100vh;
    padding:15vh 0;

    p {
        line-height: 1.8;
    }
}

.my-photo {
    width: 70%;
    margin: 0 auto 4rem;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 2rem;
        left: 2rem;
        border: 3px solid $base-gold;
    }
}

.skill-list {
    li {
        color: $base-color;
        line-height: 1.8;
    }
}

.work {
    margin: 1rem 0;
    position: relative;
    @include TF(translate(0, 0));
    @include TS(all, .2s);
    @include shadow(.5rem .5rem 0 0 $base-gold);
    // &::before {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     // border: 3px solid $base-gold;
    //     background-color:$base-gold;
    //     top: .5rem;
    //     left: .5rem;
    //     z-index: 0;
    //     @include TS(all, .2s);
    // }

    img {
        position: relative;
        z-index: 1;
    }

    // &.js-test {
    //     &::before {
    //         background-color: $base-bg;
    //     }
    // }

    .work-link {
        @include flexbox;
        @include flex(column, nowrap);
        @include justify-content(center);
        @include align-item(center);
        position: absolute;
        text-align: center;
        z-index: 2;
        background: $base-color-op80;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;

        span {
            display: block;
            color: $base-color;
            background: $base-bg;
            width: 3rem;
            height: 3rem;
            @include border-radius(50%);
            padding: 12px 0;
            text-align: center;
            @include TF(translateY(-3rem));
        }

        p {
            color: #fff;
            position: relative;
        }
    }

    &:hover {
        @include TF(translate(.5rem, .5rem));
        @include TS(all, .2s);
        @include shadow(0 0 0 0 $base-gold);

        a {
            text-decoration: none;
        }

        .work-link {
            opacity: 1;
            @include TS(all, .2s);

            span {
                @include TF(translateY(0));
                @include TS(all, .2s);
            }
        }
    }
}
#bunny-logo{
    #head{
        @include TF(translate(100%,-50%));
    }
    #ear01{
        @include TF(translate(130%,-70%));
    }
    #ear02{
        @include TF(translate(-100%,-80%));
    }
    #neck{
        @include TF(translate(70%,-130%));
    }
    #hand{
        @include TF(translate(100%,-50%));
    }
    #body01{
        @include TF(translate(150%,-80%));
    }
    #body02{
        @include TF(translate(-80%,-110%));
    }
    #foot{
        @include TF(translate(70%,-200%));
    }
    #tail{
        @include TF(translate(-30%,-150%));
    }
}