@media screen and (max-width:575px) {
    .content {
        flex-wrap: wrap;
    }
    .line {
        width: 42px;
        border-top: solid 1px gray;
        margin: 16px 0px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 15px;
        line-height: 26px;
    }
    /*=============================================
    =                  nav設定開始                 =
    =============================================*/
    #menu {
        width: 45px;
        height: 45px;
    }
    .one,
    .two,
    .three {
        width: 25px;
        height: 3px;
        top: 12px
    }
    #navbar {
        width: 45px;
        font-size: 25px;
    }
    .change {
        position: fixed;
        top: 10px;
        right: 10px;
        background-color: transparent !important;
        z-index: 999;
    }
    .change .one {
        -webkit-transform: rotate(-45deg) translate(-6px, 5.5px);
        transform: rotate(-45deg) translate(-6px, 5.5px);
    }
    .change .three {
        -webkit-transform: rotate(45deg) translate(-6px, -7.5px);
        transform: rotate(45deg) translate(-6px, -7.5px);
    }
    #navbar {
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        border-radius: 0px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .car {
        display: none;
    }
    .overlay-car {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }
    .overlay-car a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px;
    }
    /*=====  End of       nav設定開始       ======*/
    /*=============================================
    =                About me開始                 =
    =============================================*/
    #top {
        padding: 48px 0px;
    }
    .myPhoto {
        padding: 0px;
        margin: 0px 0px 16px 0px;
    }
    .myPhoto img {
        max-width: 154px;
    }
    .about {
        margin: 16px 0px 0px 0px;
    }
    /*=====  End of     About me結束       ======*/
    /*=============================================
    =                  技能設定開始                 =
    =============================================*/
    .skill {
        padding: 36px;
    }
    ul {
        flex-wrap: wrap;
        padding: 5px 0px;
        margin: 10px 0px;
    }
    li {
        width: 70px;
        height: 70px;
        border: 2px solid rgb(160, 160, 160);
        padding: 0px;
        margin: 5px;
    }
    li span {
        font-family: Arial, sans-serif;
        font-size: 18px;
    }
    .first::before {
        display: none;
    }
    /*=====  End of       技能設定結束       ======*/
    /*=============================================
    =                 時間軸設定開始                =
    =============================================*/
    .time-line {
        padding: 36px;
    }
    .timeLine {
        position: static;
        margin: 0;
    }
    .left,
    .right {
        position: static;
        width: 100%;
        height: auto;
        left: 0;
        padding: 20px 0px;
        margin: 20px 0px;
    }
    .timeLine::after,
    .left::before,
    .left::after,
    .right::before,
    .right::after {
        display: none;
    }
    .timeLine h3 {
        font-size: 14px;
    }
    .timeLine p {
        font-size: 17px;
    }
    /*=====  End of      時間軸設定結束      ======*/
    /*=============================================
    =                  燈箱設定開始                 =
    =============================================*/
    .works {
        padding: 36px 0px 20px 0px;
    }
    .light {
        padding-bottom: 56px;
    }
    #my-light-box span {
        font-size: 50px;
        top: 0px;
        right: 12px;
    }
    .previous,
    .next {
        font-size: 50px;
    }
    .previous {
        left: 8px;
    }
    .next {
        right: 8px;
    }
    /*=====  End of       燈箱設定結束       ======*/
    /*=============================================
    =                  聯絡我開始                  =
    =============================================*/
    .like-me {
        padding: 36px;
    }
    .contact {
        padding: 36px;
        flex-wrap: wrap;
    }
    .contact-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    .contact-left p {
        padding: 10px 0px;
    }
    .contact span:nth-of-type(2) {
        display: none;
    }
    .row {
        flex-wrap: wrap;
    }
    .contact-right input {
        margin: 8px 0px;
    }
    input[type="text"],
    input[type="email"],
    input[type="submit"],
    input[type="reset"] {
        height: 42px;
    }
    .container>span {
        margin: 0px auto;
        padding: 0px 0px 59px 0px;
        opacity: 0.7;
    }
    /*=====  End of       聯絡我結束        ======*/
}

@media screen and (min-width:576px)and (max-width:767px) {
    .content {
        flex-wrap: wrap;
    }
    .line {
        width: 72px;
    }
    h1 {
        font-size: 30px;
        padding: 40px 0px;
    }
    h2 {
        font-size: 22px;
        padding: 0px 0px 10px 0px;
    }
    p {
        font-size: 18px;
        padding: 10px 0px;
        line-height: 32px;
    }
    /*=============================================
    =                About me開始                 =
    =============================================*/
    #top {
        padding: 96px 0px;
    }
    .myPhoto {
        margin: 0px 0px 50px 0px;
    }
    .myPhoto img {
        max-width: 288px;
    }
    .about {
        margin: 0px;
    }
    /*=====  End of     About me結束       ======*/
    /*=============================================
    =                  技能設定開始                 =
    =============================================*/
    .skill {
        padding: 96px 0px;
    }
    ul {
        flex-wrap: wrap;
        padding: 0px;
        margin: -28px 0px 32px 0px;
    }
    li {
        width: 122px;
        height: 122px;
        margin: 16px;
    }
    li span {
        font-family: Arial, sans-serif;
        font-size: 20px;
    }
    .first::before {
        display: none;
    }
    /*=====  End of       技能設定結束       ======*/
    /*=============================================
    =                 時間軸設定開始                =
    =============================================*/
    .time-line {
        padding: 96px 0px;
    }
    .timeLine {
        margin-top: 0px;
    }
    .timeLine::after {
        height: 480px;
    }
    .left,
    .right {
        width: 45%;
    }
    .left {
        left: 0;
    }
    .right {
        right: 0;
        top: 104px;
    }
    .left:nth-of-type(4n+3) {
        top: 240px;
    }
    .right:nth-of-type(4n+4) {
        top: 344px;
    }
    .left::before,
    .right::before {
        width: 14px;
        height: 14px;
        top: calc(50% - 9px);
    }
    .left::before {
        left: calc(110% - 7px);
    }
    .right::before {
        right: calc(110% - 7px);
    }
    .left::after,
    .right::after {
        top: 50%;
    }
    .timeLine h3 {
        font-size: 16px;
    }
    .timeLine p {
        font-size: 20px;
    }
    /*=====  End of      時間軸設定結束      ======*/
    /*=============================================
    =                  燈箱設定開始                 =
    =============================================*/
    .works {
        padding: 96px 0px 0px 0px;
    }
    .light {
        padding-bottom: 56px;
    }
    .box img {
        max-width: 254px;
    }
    .mySlides {
        max-width: 100%;
    }
    #my-light-box span {
        font-size: 50px;
        top: 0px;
        right: 12px;
    }
    .previous,
    .next {
        font-size: 70px;
    }
    .previous {
        left: 8px;
    }
    .next {
        right: 8px;
    }
    /*=====  End of       燈箱設定結束       ======*/
    /*=============================================
    =                  聯絡我開始                  =
    =============================================*/
    .like-me,
    .contact {
        padding: 96px 0px;
    }
    .contact-left,
    .contact-right {
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .contact-left h1 {
        padding: 40px 0px 24px 0px;
    }
    .contact-left p {
        padding: 0px 0px 40px 0px;
    }
    .contact span:nth-of-type(2) {
        display: none;
    }
    .contact-right {
        margin: 0px 0px -64px 0px;
    }
    .container>span {
        margin: 0px auto;
        padding: 0px 0px 96px 0px;
        opacity: 0.7;
    }
    /*=====  End of       聯絡我結束        ======*/
}

@media screen and (min-width:768px) and (max-width:991px) {
    h1 {
        font-size: 33px;
        padding: 24px 0px;
    }
    p {
        font-size: 18px;
        line-height: 32px;
    }
    /*=============================================
    =                About me開始                 =
    =============================================*/
    #top {
        padding: 88px 0px;
    }
    .myPhoto img {
        max-width: 308px;
    }
    /*=====  End of     About me結束       ======*/
    /*=============================================
    =                  技能設定開始                 =
    =============================================*/
    .skill {
        padding: 88px 0px;
    }
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        width: 122px;
        height: 122px;
        margin: 10px;
    }
    li span {
        font-size: 20px;
    }
    .first::before {
        display: none;
    }
    /*=====  End of       技能設定結束       ======*/
    /*=============================================
    =                 時間軸設定開始                =
    =============================================*/
    .time-line {
        padding: 88px 0px;
    }
    .timeLine {
        margin-top: 0px;
    }
    .timeLine::after {
        height: 416px;
    }
    .left,
    .right {
        width: 45%;
    }
    .left {
        left: 0;
    }
    .right {
        right: 0;
        top: 104px;
    }
    .left:nth-of-type(4n+3) {
        top: 208px;
    }
    .right:nth-of-type(4n+4) {
        top: 312px;
    }
    .left::before,
    .right::before {
        width: 14px;
        height: 14px;
        top: calc(50% - 9px);
    }
    .left::before {
        left: calc(110% - 6px);
    }
    .right::before {
        right: calc(110% - 6px);
    }
    .left::after,
    .right::after {
        top: 50%;
    }
    .timeLine h3 {
        font-size: 16px;
    }
    .timeLine p {
        font-size: 20px;
    }
    /*=====  End of      時間軸設定結束      ======*/
    /*=============================================
    =                  燈箱設定開始                 =
    =============================================*/
    .works {
        padding: 88px 0px 0px 0px;
    }
    .light {
        padding-bottom: 88px;
    }
    /*=====  End of       燈箱設定結束       ======*/
    .like-me {
        padding: 88px 0;
    }
    .contact {
        padding: 88px 0;
    }
    .contact-left p {
        padding: 10px 0px 72px 0px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    h1 {
        font-size: 33px;
        padding: 24px 0px;
    }
    /*=============================================
    =                  技能設定開始                 =
    =============================================*/
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        margin: 15px;
    }
    li span {
        font-size: 20px;
    }
    .first::before {
        display: none;
    }
    /*=====  End of       技能設定結束       ======*/
}