.wrapper {
    background: url("../img/bg.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

    .jumbotron {
        height: 135vh;
        width: 100%;
        // border-top: 45vh solid $base-bg;
        // border-left: 10vw solid $base-bg;
        // border-right: 10vw solid $base-bg;
        border-color: $base-bg;
        border-style: solid;
        border-width: 45vh 10vw 45vh 10vw;
        position: relative;
        background-color: transparent;
        margin: 0;
        @include border-radius(0);

        .kv-title {
            display: block;
            position: relative;
            margin: 0 auto;
            width: 73%;
            top: -10rem;
             // position: absolute;
            // left: 50%;
            // @include TF(translateX(-50%));
        }

        .left,
        .right {
            position: absolute;
            top: 57%;
            @include TF(translateY(-50%) rotate(90deg));
            width: 250px;

            p,
            a {
                color: $base-color;
                margin: 0;
            }
        }

        .left {
            left: -17%;
        }

        .right {
            right: -17%;
        }
    }
}