* {
    box-sizing: border-box;
    font-family: sans-serif;
}


/* * {
    border: 1px solid red;
} */

nav {
    height: 50px;
    background-color: rgb(49, 26, 19);
}

.but a {
    display: block;
    padding: 10px;
    line-height: 30px;
    color: rgb(255, 255, 255);
}

.but a,
.but a:visited,
.but a:hover,
.but a:active {
    font-weight: 500;
    text-decoration: none;
}

.but a:hover {
    color: rgb(173, 173, 173);
}

.but a:active {
    color: rgb(95, 95, 95);
}

section {
    padding: 3%;
}

header img {
    max-width: 100%;
}

.box {
    padding: 10px;
}

.box img {
    max-width: 100%;
    border-radius: 50%;
}

.box ul {
    list-style-type: none;
}


/*=============================================
=               timeline設定開始                =
=============================================*/

.timeline {
    display: block;
    width: 80%;
    position: relative;
    padding: 15px;
    margin: 0 auto;
}


/* 時間軸 */

.timeline::after {
    content: '';
    display: block;
    width: 3px;
    height: 95%;
    background-color: red;
    position: absolute;
    top: 2.5%;
    left: 50%;
}


/* 時間區塊 */

.timeline-container {
    position: relative;
    width: 50%;
    height: 25%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}


/* 時間點 */

.timeline-container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 25px;
    background-color: tomato;
    border-radius: 50%;
}


/* 線條 */

.left {
    left: -5%;
}

.right {
    left: 55%;
}

.left::before {
    content: " ";
    position: absolute;
    height: 0;
    width: 10%;
    z-index: 1;
    top: 30px;
    right: -10%;
    border: 2px solid white;
}

.right::before {
    content: " ";
    position: absolute;
    height: 0;
    width: 10%;
    z-index: 1;
    top: 30px;
    right: 100%;
    border: 2px solid white;
}


/* 時間點位子 */

.right::after {
    left: calc(-10% - 6px);
    z-index: 1;
}

.left::after {
    right: calc(-10% - 9px);
    z-index: 1;
}


/*=====  End of    timeline設定結束      ======*/


/*=============================================
=                 card設定開始                 =
=============================================*/

.card {
    height: 300px;
    position: relative;
}

.card img {
    max-width: 100%;
    display: block;
}


/* 灰色漸變 */

.card a:hover:after {
    content: 'Large';
    color: white;
    text-align: center;
    line-height: 300px;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(24, 24, 24);
    opacity: 0.8;
    position: absolute;
    transition: opacity 1.5s;
    top: 0;
}

.card a:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(24, 24, 24);
    opacity: 0;
    position: absolute;
    transition: opacity 1.5s;
    top: 0;
}


/*=====  End of      card設定開始       ======*/